<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="static\css\login.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" text-white font-sans bg-transparent flex justify object-cover bg-center bg-cover h-screen"
style="background-image:url('static/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg')">
<div class="flex flex-row w-full">
    <div class="items flex flex-col mt-20 ml-16">
       
        <div class="x    pl-2 pr-2 pb-1 rounded-xl shadow-md mt-1 w-96 items-center bg-transparent">
            <form method="POST" class="space-y-4" action="/student_login">
                {{ form.csrf_token }}
                <h1 class="text-center text-2xl font-bold">BEST</h1>
                <ul class="text-center text-xl">IT ACADEMY</ul>
                <div class="flex justify-center rounded-full">
                    <div>
                        <img src="\static\images\Picture2.png" class="h-16">
                    </div>
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class=" text-black w-full px-2 py-2 rounded-xl border border-gray-300",placeholder="Enter your name" )}}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class=" text-black w-full px-4 py-2 rounded-xl border border-gray-300",placeholder="enter more than 6 characters") }}
                </div>

                <div class="form-group ">
                    {{ form.course.label }}
                    {{ form.course(class= " text-black w-full px-4 py-2 rounded-xl border border-gray-300") }}
                </div>
                <div class="flex justify-center gap-10 ">
                    <button type="submit" class="bg-rose-600 text-white px-6 py-2 rounded hover:bg-green-600">SIGN-UP</button>
                    
                </div>
                
            </form>
        </div>
    </div>
    <div class=" flex items-center ml-80 mt-44 ">
        <a class="flex justify-end text-white  px-6 py-2 rounded hover:bg-rose-600 rotate-button" href="/">BACK</a>
    </div>
</div>
</body>
</html>
